.container__dados{
    display: flex;
    padding: 6em;
    justify-content: center;
    
}
.container__dados__lista{
    display: flex;
    
    justify-content: space-evenly;
    
}
.container__dados__lista-item{
    display: flex;
    flex-direction: column;
    padding: 2em;
}
.dados{
    font-size: 60px;
    font-weight: 600;
    color: var(--vermelho-botoes);

}
.dados__titulo{
    font-size: 18px;
    font-weight: 500;
    padding: 2em 0;

}
.dados__texto{
    color: var(--cinza-claro);
    padding: 0 7.5em 0 0;
    
}