.container__vagas{
    padding: 3em 80px;
}

.container__vagas .banner__texto{
    font-size: 36px;
}

.container__vagas .banner__titulo{
    font-size: 14px;
}

.vagas{
    display: flex;
    flex-direction: column;
    
    align-items: center;
   
    padding-top: 6em;
}
.vagas__imagem{
    width: 100%;
    margin-top: 3em;
}

.vagas__abertas{
    
    padding: 0 12em;
    margin-top: 3em;
}
.vagas__abertas-item{
    
    margin: 0 3em;

}
.vagas__abertas-item-titulo{
    font-size: 20px;
    margin-bottom: 32px;

}
.vagas__abertas-item-titulo-interno{
    border: 1px solid var(--cinza-borda);
    margin:2em 0;
    padding: 24px;
    border-radius: 16px;

}
.vagas__abertas-item-subtitulo{
    font-size: 18px;
    margin-bottom: 2em;

}
.vagas__abertas-item-tempo{
    color: var(--cinza-claro);
    font-size: 16px;

}
.vagas__abertas-item-faixa-salario{
    color: var(--cinza-claro);
    margin-left: 4em;
    font-size: 16px;

}
.vagas__abertas-tempo-faixa{
    display: flex;
}

.vagas .banner__titulo{
    background: rgba(142, 36, 36, 0.05);
    border-radius: 16px;
    padding: 4px 12px;  
}